html,
body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}

.desktop {
    display: none;
}

h1 {
    font-size: 2em;
    margin-top: 0;
}

.blue {
    background: linear-gradient(25deg, #16528d 15%, #26a7d5 97%);
    color: #fff;
}

.light-gray {
    background-color: #eee;
    color: #555;
}

.center-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-round {
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

main {
    width: 100vw;
    margin-top: 70px;
    font-size: 1.2em;
}

.button-primary {
    background-color: #f4aa0b;
    box-shadow: 3px 3px #aaa;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    padding: 10px 50px;
    margin: 20px 0;
}

.button-secondary {
    background-color: #52a8dd;
    box-shadow: 3px 3px #aaa;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    padding: 10px 50px;
    margin: 20px 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .1);
    z-index: 100;
}

#nav-bar {
    height: 100%;
}

#header-img {
    width: auto;
    height: 100%;
    max-height: 15vh;
    float: left;
    margin-left: 20px;
}

#nav-desktop {
    float: right;
    height: 100%;
}

#nav-desktop ul {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

#nav-mobile {
    display: block;
}

.sandwich {
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 1.2em;
}

#nav-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.nav-mobile-menu {
    display: block;
    margin-top: 70px;
    margin-left: 20px;
    width: 100vw;
    height: 0;
    overflow: hidden;
    transition: height 0.2s;
}

.nav-mobile-menu li {
    list-style-type: none;
    margin: 40px 0;
    text-transform: uppercase;
}

.nav-mobile-menu a {
    text-decoration: none;
}

#nav-toggle:checked~.nav-mobile-menu {
    height: 330px;
}

.nav-link-li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: inherit;
}

.nav-button {
    background-color: orange;
    box-shadow: 3px 3px #aaa;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 10px;
}

section {
    min-height: 200px;
    padding: 80px 20px 20px 20px;
    margin: 0 0;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 500px;
    text-align: center;
    padding: 80px 30px;
}

#banner-text {
    min-width: 300px;
}

#banner-video {
    width: auto;
    height: auto;
    border: none;
}

#video {
    margin: 0;
    border: none;
}

.features-large h1,
.features-small h1 {
    text-align: center;
}

.features-large-img img {
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
}

.features-large-section {
    margin-top: 50px;
}

.features-small-item img {
    width: 150px;
}

.testimonial img {
    width: 30vw;
    max-width: 150px;
}

#email {
    font-size: 1.2em;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #999;
}

#featured-in-p {
    font-size: 1em;
    width: 100%;
    opacity: 0.6;
}

#featured-in-logos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
}

#featured-in-logos img {
    width: auto;
    max-width: 40vw;
    height: 30px;
    margin: 10px 0;
    opacity: 0.6;
}

footer {
    height: auto;
    min-height: 100px;
    background-color: #092139;
}

footer section {
    min-height: 0;
}

.footer-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #092139;
    color: #ccc;
}

.footer-2 {
    background-color: rgba(0, 0, 0, .2);
    color: #ccc;
    padding: 0;
    opacity: 0.7;
}

#footer-social-links {
    width: 50vw;
    min-width: 300px;
}

#footer-logo {
    width: 100%;
    height: auto;
}

#footer-social-icons {
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    margin: 20px auto;
}

#footer-social-icons i {
    margin: 0 20px;
}

#site-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

#site-links ul {
    padding-left: 0;
}

#site-links li {
    list-style-type: none;
    opacity: 0.7;
    margin: 30px 0;
}

@media only screen and (orientation: landscape) and (min-width: 900px) {

    html,
    body {
        font-size: 1em;
    }

    .desktop {
        display: initial;
    }

    .mobile {
        display: none;
    }

    .section-container {
        max-width: 700px;
        margin: auto;
    }

    .features-large-img img {
        max-width: 500px;
    }

    #featured-in-logos {
        flex-direction: row;
    }

    #featured-in-logos img {
        max-width: 15vw;
        height: 30px;
        margin: 0 20px;
    }

    .testimonial img {
        width: 10vw;
    }

    .footer-1 {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    #site-links {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        width: 70vw;
        margin-top: 0px;
    }

    #footer-social-links {
        max-width: 20vw;
    }
}